.NavigationContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
   background-color: rgb(245, 245, 143);
   padding: 10px 156px;
   border: 2px solid black;
   border-radius: 8px;
}
.NavLinkItem{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
}
.NavLinkItem:hover{
    color: rgb(11, 192, 35);
}
.active{
    color: rgb(11, 192, 35);
}