.NavigationContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
   background-color:rgb(240, 62, 118);
   padding: 10px 156px;
   border: 2px solid black;
   border-radius: 8px;
}
.NavLinkItem{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
}
.NavLinkItem:hover{
    color:rgb(239, 12, 84);
}
.active{
    color: rgb(87, 93, 88);
}